<div class="container mt-4">
  <h3>Rider List</h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Rider ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of riders">
        <td>{{ r.Id }}</td>
        <td>{{ r.FullName }}</td>
        <td>{{ r.Phone }}</td>
        <td>{{ r.Email }}</td>
        <td>{{ r.Address }}</td>
      </tr>
    </tbody>
  </table>
</div>
