<div class="slider-container">
  <div class="slider" [style.transform]="'translateX(-' + slideIndex * 100 + '%)'">
    @for (img of bannerImages; track img) {
      <div class="slide"><img [src]="img" alt="Banner"></div>
    }
  </div>
  <button class="slider-btn prev-btn" (click)="prevSlide()"><i class="fas fa-chevron-left"></i></button>
  <button class="slider-btn next-btn" (click)="nextSlide()"><i class="fas fa-chevron-right"></i></button>
</div>

<div class="section-container">
  <div class="section-title">
    <h3>Top Categories</h3>
    <button class="view-all">See All <i class="fas fa-arrow-right"></i></button>
  </div>
  <div class="categories-grid">
    <div class="cat-card">
      <div class="cat-icon-box"><i class="fas fa-mobile-alt"></i></div>
      <p>Electronics</p>
    </div>
    <div class="cat-card">
      <div class="cat-icon-box"><i class="fas fa-tshirt"></i></div>
      <p>Fashion</p>
    </div>
    <div class="cat-card">
      <div class="cat-icon-box"><i class="fas fa-laptop"></i></div>
      <p>Computing</p>
    </div>
    <div class="cat-card">
      <div class="cat-icon-box"><i class="fas fa-home"></i></div>
      <p>Home Decor</p>
    </div>
    <div class="cat-card">
      <div class="cat-icon-box"><i class="fas fa-heartbeat"></i></div>
      <p>Health</p>
    </div>
    <div class="cat-card">
      <div class="cat-icon-box"><i class="fas fa-baby"></i></div>
      <p>Baby Care</p>
    </div>
  </div>
</div>

<div class="product-page">

  <h2 class="title">Products</h2>

  <div class="product-grid">

    <div class="product-card" *ngFor="let p of products">

      <img
        [src]="getImageUrl(p.imageLocation)"
        alt="Product Image"
        class="product-img"
      />

      <h3 class="product-name">{{ p.name }}</h3>

      <p class="brand">{{ p.brand }}</p>

      <p class="price">৳ {{ p.price }}</p>

      <p class="category">
        {{ p.categoryName }} / {{ p.subCategoryName }}
      </p>

      <p class="stock">
        Stock: {{ p.stockquantity }}
      </p>

      <span class="created">
        Created By: {{ p.createdby }}
      </span>

      <!-- ADD TO CART -->
      <button
        class="btn-cart"
        (click)="addToCart(p)"
        [disabled]="p.stockquantity === 0">
        Add to Cart
      </button>

    </div>

  </div>

  <p *ngIf="products.length === 0" class="no-data">
    No products found
  </p>

</div>
