<div class="profile-container" *ngIf="!loading && user">

  <h2>User Profile</h2>

  <div class="profile-card mb-4 py-4 px-3 ">
    <p><strong>Full Name:</strong> {{ user.fullName }}</p>
    <p><strong>Username:</strong> {{ user.userName }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Gender:</strong> {{ user.gender }}</p>
    <p><strong>Register As:</strong> {{ user.registerAs }}</p>
    <p><strong>Joined:</strong> {{ user.createdAT | date:'mediumDate' }}</p>
  </div>

 <div class="text-center">
     <button class="btn btn-light" routerLink="/home">Back to Home</button>
 </div>

</div>

<!-- Loading -->
<div *ngIf="loading">
  <p>Loading profile...</p>
</div>
