<div class="container">

  <h2 class="title">Admin Panel – User Management</h2>

  <!-- SEARCH + ADD -->
  <div class="top-bar">
    <input type="text" class="search-input" placeholder="Search by name, email or phone..." [(ngModel)]="searchText"
      (input)="searchUser()" />

    <button class="save-btn" (click)="goToAddUser()">
      + Add User
    </button>
  </div>

  <div class="table-card">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Username</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Approved</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.id }}</td>
          <td>{{ user.fullName }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.email }}</td>

          <td>
            <span *ngIf="user.isApproved">Yes</span>
            <span *ngIf="!user.isApproved">No</span>
          </td>

          <td class="action-btns">
            <button class="btn-edit" (click)="editUser(user.id)">
              Edit
            </button>
            <button *ngIf="(user.registerAs === 'Seller' || user.registerAs === 'Rider') && !user.isApproved"
              class="btn-approve-outline" (click)="approveUser(user.id)">
              Approve
            </button>
            <button class="btn-delete" (click)="deleteUser(user.id)">
              Delete
            </button>
          </td>
        </tr>

        <tr *ngIf="filteredUsers.length === 0">
          <td colspan="7" class="no-data">
            No users found
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>